/* responsive style navbar sec */

@media (max-width: 992px) {
  .nav .nav-container .nav-links {
    display: none;
  }

  .nav .nav-container #mobile-menu-btn {
    display: block;
  }

  .nav .nav-container .dropdown-menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav .nav-container .dropdown-menu li {
    padding: 10px 0;
  }

  .nav .nav-container .order-btn {
    display: none;
  }

  .nav .nav-container .nav-links {
    display: none;
  }

  .nav .nav-container .order-btn {
    margin-right: 2px;
  }
}

/* responsive style hero sec  */
/* xs devices */
@media (max-width: 576px) {
  .hero-content {
    max-width: 576px;
  }

  .hero-content h1 {
    font-size: 35px;
  }

  .hero-content p {
    margin-left: -99px;
    padding: 0px 9px;
  }

  .hero-btn {
    margin: auto;
    margin-left: -7rem;
  }
}

/* s devices media style */
@media (max-width: 786px) {
  .hero-content {
    max-width: 786px;
  }

  .hero-content h1 {
    font-size: 35px;
  }

  .hero-content p {
    margin-left: -99px;
    padding: 0px 10px;
  }

  .hero-btn {
    margin: auto;
    margin-left: -7rem;
  }
}

/* m devices media style */
@media (max-width: 992px) {
  .hero-content {
    max-width: 993px;
  }

  .hero-content h1 {
    font-size: 35px;
  }

  .hero-content p {
    margin-left: -99px;
    padding: 0px 11px;
  }

  .hero-btn {
    margin: auto;
    margin-left: -7rem;
  }
}

/* responsive style for subHero sec */
/* s  device */
@media (max-width: 768px) {
  .subHero .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

  .subHero .container .card1,
  .subHero .container .card2 {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }

  .subHero .container .card1 .cardimg,
  .subHero .container .card2 .cardimg {
    margin: auto;
  }

  .subHero .container .card1 img,
  .subHero .container .card2 img {
    width: 150px;
    height: 150px;
  }

  .subHero .container .card1 .cardContent,
  .subHero .container .card2 .cardContent {
    margin: auto;
  }

  .subHero .container .card1 .cardContent h2,
  .subHero .container .card2 .cardContent h2 {
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 500;
    margin-left: 1rem;
  }
  .subHero .container .card1 .cardContent p {
    margin-left: 3rem;
    margin-bottom: 19px;
  }
  .subHero .container .card2 .cardContent p {
    margin-left: 20px;
    margin-bottom: 19px;
  }
  .subHero .container .card1 .cardContent .order {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
  .subHero .container .card2 .cardContent .order {
    margin-bottom: 1rem;
    margin-left: auto;
  }
}

/* m device  */
@media (min-width: 768px) and (max-width: 992px) {
  .subHero .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }
  .subHero .container .card1,
  .subHero .container .card2 {
    width: 100%;
    padding: 20px 40px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }
  .subHero .container .card1 .cardimg , 
  .subHero .container .card2 .cardimg{
    margin-right: auto;
    margin-left: 3rem;
  }
  .subHero .container .card1 img,
  .subHero .container .card2 img {
    width: 200px;
    height: 200px;
  }

  .subHero .container .card1 .cardContent ,
  .subHero .container .card2 .cardContent{
    margin-left: auto;
    margin-right: 4rem;
  }
  .subHero .container .card1 .cardContent h2,
  .subHero .container .card2 .cardContent h2 {
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 500;
    margin-left: 2rem;
    letter-spacing: 4px;
  }
  .subHero .container .card1 .cardContent p,
  .subHero .container .card2 .cardContent p {
    margin-bottom: 19px;
  }
  .subHero .container .card1 .cardContent .order,
  .subHero .container .card2 .cardContent .order {
    margin-bottom: 6px;
  }
}

/* responsive style for menu sec */
/* s devices  */
@media (max-width: 768px) {
  #menu .container {
    grid-template-columns: 1fr;
  }
  .menu .filter-buttons ul {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .menu h2 {
    font-size: 30px;
  }

  .menuImage {
    height: 180px;
  }

  .menuImage img {
    width: 150px;
  }

  .menuImage .img4 {
    margin-top: -10px;
  }
  .menuImage .img5 {
    margin-top: -30px;
  }

  .menu .menuCard .priceContent {
    padding: 0px 40px 20px 40px;
  }

  .menu .menuCard .priceContent h3 {
    padding-left: 20px;
  }

  .menu .menuCard .menuContent .menuTitle {
    font-size: 25px;
    padding-left: 2.7rem;
  }

  .menu .menuCard .menuContent .menuDescription {
    font-size: 14px;
  }
}

/* m devices */
@media (max-width: 992px) {
  .menu .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }

  .menu .filter-buttons ul {
    gap: 20px;
    padding: 15px 30px;
    flex-wrap: wrap;
  }

  .menu h2 {
    font-size: 35px;
  }

  .menu .menuCard .menuContent .menuTitle {
    margin-left: -70px;
    font-size: 26px;
    text-align: center;
  }

  .menu .menuCard .menuContent .menuDescription {
    margin-left: 10px;
  }

  .menu .viewMoreBtn {
    margin-top: 5px;
    padding: 15px 29px;
    font-size: 18px;
  }
}

/* responsive style about sec  */

/* s devices (>768)  */
@media (max-width: 768px) {
  .about .container {
    grid-template-columns: 1fr;
  }

  .about .container .about-content {
    order: 1;
    margin-top: -4px;
    padding-left: 3.5rem;
    padding-right: 2.6rem;
  }

  .about .container .about-content h2 {
    font-size: 1.9rem;
  }

  .about .container .about-img {
    order: 2;
  }
}

@media (max-width: 992px) {
  .about .container .about-content {
    margin-top: 5rem;
    margin-left: 10px;
  }

  .about .container .about-img {
    margin-top: 25px;
  }
}

/* book table responsive style */
@media (max-width: 992px) {
  .book-table .container {
    flex-direction: column;
  }

  .book-table .container .booking-form {
    margin-bottom: -5.5rem;
  }

  .booking-form input,
  .booking-form select {
    width: 100%;
  }

  .booking-form form {
    width: 100%;
  }

  .map iframe {
    width: 100%;
  }
}

/* responsive style for testmonial sec  */
/* m devices (>992px) */
@media (max-width: 992px) {
  .testimonial-container {
    flex-direction: column;
    align-items: center;
  }
}

/* responsive style footer sec  */
/* m devices (>992px) */
@media (max-width: 992px) {
  footer .container {
    flex-direction: column;
    margin-bottom: 5px;
  }
}
